  <div class="nav-container">
     <!-- top left section -->
     <div class="logo">
       <div id="line1" class="line"><span id="name">semitext.xyz</span></div>
       <div id="line2" class="line"><a href="https://bsky.app/profile/semitext.xyz" class="nav" target="_blank" id="bsky">Bluesky</a></div>
       <div id="line3" class="line"><a href="https://0x12f.bandcamp.com" class="nav" target="_blank" id="bandcamp">0x12f</a></div>
       <div id="line4" class="line"></div>
       <div id="line5" class="line"></div>
     </div>
   </div>
