{{ define "main" }}
    <main aria-role="main">
      <p class="subtitle-links"><a href="https://0x12f.bandcamp.com">0x12f</a> <a href="/zines">zines</a></p>
      <section>
        | {{ range .Site.Taxonomies.tags }}
        <a class="tag" href="{{ .Page.Permalink }}">{{ .Page.Title }}</a> |
        {{ end }}
      </section>
      <section>
        <div class="components-grid">
        {{ range $index, $page := .Site.RegularPages.ByLinkTitle }}
          {{ partial "recipe_summary.html" $page }}
        {{ end }}
        </div>
      </section>
    </main>
{{ end }}
